name: Weekly Recipe Email Sender

on:
  workflow_dispatch:
  schedule:
    - cron: '0 22 * * FRI' # Runs every Friday at 22:00 UTC (4 PM CST)

jobs:
  send-recipe-email:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Gleam
        uses: erlef/setup-beam@v1
        with:
          otp-version: '26.0'
          gleam-version: '1.5.1'
          rebar3-version: '3.22.1'

      - name: Install Dependencies
        working-directory: gleam
        run: gleam deps download

      - name: Build
        working-directory: gleam
        run: gleam build

      - name: Run the Application
        working-directory: gleam
        env:
          MAILTRAP_API_TOKEN: ${{ secrets.MAILTRAP_API_TOKEN }}
          SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
          SENDER_NAME: ${{ secrets.SENDER_NAME }}
          RECIPIENT_EMAIL: ${{ secrets.RECIPIENT_EMAIL }}
        run: gleam run
