name: Meal Planner Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test Gleam
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Gleam
      uses: erlef/setup-beam@v1
      with:
        otp-version: '26.0'
        gleam-version: '1.5.1'
        rebar3-version: '3.22.1'

    - name: Install dependencies
      working-directory: gleam
      run: gleam deps download

    - name: Check format
      working-directory: gleam
      run: gleam format --check src test

    - name: Build
      working-directory: gleam
      run: gleam build

    - name: Run tests
      working-directory: gleam
      run: gleam test
